.sidebar{
    width: 40%;
background-color: rgba(17, 17, 17, 0.797);
height: 80.5vh;
}
.chat{
    width: 60%;
  
    

}
.navbar{
    display: flex;
    align-items: center;
    background-color: #2f2d52;
    height: 6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
    color: #ddddf7;
}
.navbar-logo{

    font-weight: bold;
    font-size:1.7rem;
    letter-spacing: .1rem;
    color: red;
    text-shadow: 6px 6px 6px black;
}

.user{
    display: flex;
    gap: 5px;
    align-items: center;
    
   
}
.user span{
    font-size: 1.5rem;
}
 .user img{
    border: none;
    outline: none;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    object-fit: cover;
}
.user button{
    border: none;
    padding: 1rem ;
    font-size: 1rem;
    cursor: pointer;
    color: #fff;
    background:linear-gradient(to left ,blue,red) ;
    border-radius: 1rem;
    
}
.user button:active{
    transform: scale(0.9);
    background:linear-gradient(to left,blue,red);
}

.Search{
    border-bottom:.1rem solid gray;
}
.uesrChat img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
}
.Searchform input{
    background-color: transparent;
    margin: .5rem;
    border: none;
    outline: none;
    color: #fff;
}
.Searchform input::placeholder{
    color: lightgray;

}
.chats{
    z-index: 9999;
}
.uesrChat{
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #fff;
    cursor: pointer;
    height: 4.5rem;
    z-index:999;
}
.uesrChat:hover{
    background-color: #16126a6d;
}
.chats-data span{
    font-size: 1.8rem;
    font-weight: 500;
}
.chats-data p{
    font-size: 1.4rem;
    color: lightgray;
}
.chatInfo{
    height: 5rem;
    background-color: #5d5b8d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color: lightgray;

}
.export-chat-main{
    margin-top: 3rem;
    position: relative;
}
.user-Info{
    display: flex;
    align-items: center;
    gap: .8rem;
}
.chatIcons{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 2.2rem;
    cursor: pointer;
}
.user-Info span{
    font-size: 20px;
    color: #fff;
    text-shadow: 3px 3px 3px #000;

    letter-spacing: .06rem;
}
.user-Info img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    
    
}

.messages{
   
    /* padding: 5rem; */
    height: calc(100%  - 14.5rem);
    overflow-y: scroll;
    /* background:url(..//image/bgimg.jpg) no-repeat; */
    position: relative;
    width: 100%;
    background-size: cover;
}
/* .message::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color:rgba(255,255,255,0.1);
    backdrop-filter: blur(30rem);
    z-index: 1;
} */
.input{
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.644);
    padding: 1.4rem;
    display: flex;
    align-items: center;
    
    justify-content: space-between;
}
.input input{
    width: 100%;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.624);
    font-size: 1.8rem;
    text-shadow: 2px 2px 2px black;
    letter-spacing: 1px;
    background-color: transparent;
}
.input input::placeholder{
    color: lightgray;
    background-color: transparent;
}
.send{
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    
}
.icon-img{
    font-size: 3rem;
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}
.send button{
   border: none;
    padding: .8rem 1.3rem;
    cursor: pointer;
    color: #fff;
    background:linear-gradient(to left ,blue,red) ;
    border-radius: .5rem;
}
.message{
    display: flex;
    gap: 2rem;
}
.messageInfo{
    display: flex;
    flex-direction: column;
    color: gray;
    font-weight: 300;
}
.messageInfo img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
    
}
.messageContent img{
    width: 4rem;
    border-radius: 50%;
    height: 4rem;
    margin-left: .5rem;
    
}
.messageContent p{
    color: #fff;
    background:linear-gradient(to left ,#0bb1b1,#20ec05d3) ;
    padding: 1rem 2rem;
    border-radius: 1rem 0rem 1rem 1rem;
    max-width: max-content;
   
}
.messageContent{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    
    
}
.message.owner{
    flex-direction: row-reverse;
}

.export-data   button{
    background:linear-gradient(to left ,#0bb1b1,#20ec05d3);
    padding: .8rem 1.3rem;
    cursor: pointer;
    color: #fff;
    border-radius: .5rem;
    border: none;

}
.export-data button:active{
    transform: scale(0.9);
    background:linear-gradient(to left,blue,red);
}
